html {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.5;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.header {
  width: 100%;
  background-color: #ffe500;
  text-align: center;
  padding-bottom: .75em;
}

nav ul {
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 1.125rem;
  margin: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
  padding: .1em .5em .3em;
  background-color: #b2a212;
  border-radius: 4px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #cc1465;
}

.nav .current {
  background-color: #cc1465;
}

body {
  margin: 0;
}

main {
  margin: .3em;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 3em;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  margin-top: .3em;
  padding: .2em .5em .3em;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.875rem;
  padding: 0;
  padding-top: .75em;
  padding-bottom: .75rem;
  margin-bottom: .75rem;
}

p {
  margin: .3em;
  padding-bottom: .75rem;
  font-family: Georgia, serif;
  margin-top: 0;
  color: #2f2d13;
}

footer {
  width: 100%;
  background-color: #ffe500;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: .75em;
}
